Strong Analytical and Problem Solving Skills. •
Knowledge / Proficiency in any Programming Language
(FE / BE) & Frameworks / system – 
Java / C++ / Spingboot
/ Python / Flutter / Angular / Node.js or such associated
Technologies 
• Good understanding of Relational and
NoSQL databases, Data mapping, Rest based web
services 
• Understanding of OOP and Design patterns. •
Strong Problem-solving and Analytical skills. 
• Ability to
learn new Languages & Skills. 
• Excellent Communication
Skills. 
• Good

1.Java/Python/OOPS 
2.Data Structures:  Basic coding to some easy medium coding questions
3.Springboot
4.Node.js 
5.Angular
6.MySQL,MongoDB,RESTAou,DataMapping
7.Basics of System Design
Optionals:
8.Pyspark
9.Unit Testing, Integration Testing basics
10.Teamwork, communication, learning mindset
11.Communication, curiosity, and clarity in explanation
12.Mock Interview.

13.HR prep
14.Resume based preparation : Skill projects intersnhip
15.Company previously asked questions.







